.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin-left: auto;
    padding-right: 20px;
    justify-content: center;
}

.container div {
    font-size: 16px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 158px;
    height: 48px;
    background: #186DD6;
    color: #fff;
    border: none;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    transition: background 0.3s;
}

.button:hover {
    background: #145bb3;
}